body {
	margin: 0;
	box-sizing: border-box;
}

#carousel {
	width: 600px;
	height: 400px;
	margin: 0 auto;
	padding: 0;
	border: 1px solid black;
	overflow: hidden;
	display: inline-block;
	float:left;
}

.pictures {
	width: 3016px;
	list-style: none;
	height: 400px;
	padding: 0;
	margin: 0;
}

.photo {
	width: 600px;
	height: 400px;
	display: inline-block;
	margin: 0;
}

.box1 {
	background-image: url(https://static.pexels.com/photos/221074/pexels-photo-221074.jpeg);
	background-position: center;
	background-size: cover;
}

.box2 {
	background-image: url(https://static.pexels.com/photos/89805/pexels-photo-89805.jpeg);
	background-position: center;
	background-size: cover;
}
.box3 {
	background-image: url(https://static.pexels.com/photos/67867/orange-falling-water-splash-67867.jpeg);
	background-position: center;
	background-size: cover;
}
.box4 {
	background-image: url(https://static.pexels.com/photos/351283/pexels-photo-351283.jpeg);
	background-position: center;
	background-size: cover;
}
.box5 {
	background-image: url(https://static.pexels.com/photos/202679/pexels-photo-202679.jpeg);
	background-position: center;
	background-size: cover;
}

.leftarrow {
	float:left;
	display: inline-block;
	width: 100px;
	height: 400px;
	background-image: url(../images/left.png);
	background-position: center;
	background-repeat: no-repeat;
	margin: 0 auto;
}

.leftarrow:hover, .rightarrow:hover {
	transform: scale(1.1, 1.1);
	transition: .3s;
}

.rightarrow {
	margin: 0 auto;
	float:left;
	display: inline-block;
	width: 100px;
	height: 400px;
	background-image: url(../images/right.png);
	background-position: center;
	background-repeat: no-repeat;
}

.karuzela {
	margin: 100px auto;
	height: 400px;
	width: 806px;
}